@model Vet_Surgery_System.Models.Owner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.F_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.L_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.L_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D_O_B)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D_O_B)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.O_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
